# Ignorar datasets grandes
data/raw/

# Ignorar modelos e logs do MLflow
mlruns/

# Ignorar ficheiros grandes
*.zip
*.sh
*.pkl

# Cobertura de testes
coverage.xml
.coverage
htmlcov/

# Python cache
__pycache__/
*.py[cod]

# Artifacts de treino
tmp_artifacts/

# MLflow DB local
mlflow.db

# Ficheiros de ambiente
.env

# IDE e ferramentas locais
.idea/

# Ambientes virtuais
.venv/
venv/
env/

# Pytest cache
.pytest_cache/




